// VARIABLES
$white: #f5f5f5;
$blue-night: #0d1b2a;
$grey: #4d4d4d;
$red-advert: #b22234;
$header-footer: #14233c;
$light-blue: #56a3d4;
$white-title: #ffffff;

// FONTS
@font-face {
  font-family: "Lora-Regular";
  src: url("../fonts/Lora/static/Lora-Regular.ttf");
}

@font-face {
  font-family: "Lora-Medium";
  src: url("../fonts/Lora/static/Lora-Medium.ttf");
}

@font-face {
  font-family: "Lora-Bold";
  src: url("../fonts/Lora/static/Lora-Bold.ttf");
}

@font-face {
  font-family: "Poppins-Regular";
  src: url("../fonts/Poppins/Poppins-Regular.ttf");
}

@font-face {
  font-family: "Poppins-Medium";
  src: url("../fonts/Poppins/Poppins-Medium.ttf");
}

// RESPONSIVE
$tablet: "screen and (min-width:768px)";
$laptop: "screen and (min-width:1024px)";

// MIXIN
@mixin cards {
  background-color: rgba(255, 255, 255, 0.1);
  margin: 3rem;
  padding: 2rem;
  border-radius: 2rem;
}
