header,
footer {
  background-color: $header-footer;
  .name {
    font-size: 3rem;
    font-family: "Poppins-Medium";
    color: $white-title;
    padding: 2rem;
  }
}

header {
  section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0.5rem;
  }
  .header-mobile {
    #burger-menu {
      svg {
        color: $white;
        font-size: 3rem;
        padding: 2rem;
        position: relative;
        z-index: 5;
      }
      // Navigation affichée lorsque le menu est ouvert
      &.open {
        nav {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: flex-end;
          gap: 1rem;
          position: fixed;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: $blue-night;
          padding: 2rem;
          z-index: 3;
          a {
            color: $white;
            text-align: right;
            font-size: 2rem;
            padding: 2rem;
            transition: color 0.3s;
            border-radius: 1rem;
            text-transform: uppercase;
          }
        }
      }
      // Navigation cachée par défaut
      nav {
        display: none;
      }
    }
  }
  .tablet-header {
    nav {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      a {
        text-align: center;
        font-size: 1.8rem;
        font-family: "Poppins-Medium";
        color: $white;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1.2rem;
        border-radius: 1rem;
        text-transform: uppercase;
      }
      a:hover {
        @media #{$laptop} {
          background-color: $white;
          color: $blue-night;
        }
      }
      @media #{$laptop} {
        a {
          margin: 0 0.5rem;
        }
      }
    }
  }
}

footer {
  padding-top: 1rem;
  margin-top: 5rem;
  div {
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    section {
      width: 60%;
      margin: auto;
      p {
        text-align: center;
      }
    }
    .title {
      padding: 0;
      text-align: center;
      .name {
        padding: 0;
      }
    }
    .social-media {
      display: flex;
      flex-direction: row;
      justify-content: center;
      gap: 4rem;
      grid-area: social-media;
      padding: 1rem;
      a {
        padding: 1rem;
        font-size: 5rem;
      }
    }
    .legal {
      padding-bottom: 3rem;
    }
    @media #{$tablet} {
      margin-top: 0;
      .title {
        grid-area: title;
        padding: 0;
        a {
          padding: 0;
        }
      }
      .legal {
        grid-area: legal;
      }
      .social-media {
        gap: 2rem;
      }
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-areas:
        "title social-media"
        "legal legal";
      gap: 2rem;
    }
  }
}
