.banner-myst-travel {
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url("/image/myst-travel-project.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 40rem;
  h1 {
    font-size: 3rem;
    padding-bottom: 3rem;
  }
}

.presentation-myst-travel {
  p {
    margin: 3rem;
  }
}

.screen-page {
  img {
    display: block;
    width: 80%;
    margin: 2rem auto 0 auto;
  }
}

.langage-techno {
  .front-end,
  .back-end,
  .tool {
    @include cards;
    @media #{$tablet} {
      padding: 3rem;
      margin: 5rem;
    }
    div {
      @media #{$tablet} {
        display: flex;
        justify-content: space-between;
        align-items: center;
        h3 {
          padding-bottom: 0;
        }
      }
      div {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        img {
          max-width: 100%;
          max-height: 4rem;
          height: auto;
        }
      }
    }
    ul {
      margin-top: 2rem;
      span,
      svg {
        color: $light-blue;
      }
    }
  }
  @media #{$laptop} {
    h2 {
      grid-area: title;
    }
    .front-end {
      grid-area: front-end;
    }
    .back-end {
      grid-area: back-end;
    }
    .tool {
      grid-area: tool;
    }
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      " title title"
      " front-end back-end"
      " tool tool";
  }
}

.functionality {
  .functionality-user,
  .functionality-admin {
    @include cards;
    @media #{$tablet} {
      padding: 3rem;
      margin: 5rem;
    }
    div {
      display: flex;
      gap: 1rem;
      svg {
        color: $light-blue;
        font-size: 4rem;
      }
      @media #{$tablet} {
        display: flex;
        align-items: center;
        gap: 2rem;
        margin-bottom: 3rem;
        h3 {
          padding-bottom: 0;
        }
      }
    }
    ul {
      span,
      svg {
        color: $light-blue;
      }
    }
  }

  @media #{$laptop} {
    h2 {
      grid-area: title;
    }
    .functionality-user {
      grid-area: user;
      div {
        align-items: center;
        h3 {
          padding-bottom: 0;
        }
      }
    }
    .functionality-admin {
      grid-area: admin;
    }
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      " title title"
      " user admin";
  }
}

.requirement {
  div {
    @include cards;
    @media #{$tablet} {
      padding: 3rem;
      margin: 5rem;
    }
  }
  ul {
    span,
    svg {
      color: $light-blue;
    }
  }
}
