.banner-portfolio {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("/image/myst-travel-project.jpg");
  h1 {
    font-size: 3rem;
    padding-bottom: 3rem;
  }
  div {
    display: flex;
    align-items: center;
    a {
      padding: 1rem;
      font-size: 4rem;
    }
  }
}
