@import "_reset";

@import "_general";
@import "_header-footer";
@import "_home";
@import "_myst-travel";
@import "_portfolio";

// STYLE GÉNÉRALE
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  background-color: $blue-night;
}

@media #{$laptop} {
  .container {
    max-width: 1024px;
    margin: auto;
  }
}

h1,
h2,
h3,
h4 {
  color: $white-title;
  font-family: "Poppins-Medium";
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

h1 {
  font-size: 3.5rem;
  padding-bottom: 5rem;
}

h2 {
  font-size: 3rem;
  text-align: center;
  padding: 2rem;
  margin: 5rem 0 2rem 0;
  border-bottom: 0.1rem solid $light-blue;
}

h3 {
  font-size: 2.5rem;
  padding-bottom: 2rem;
}

h4 {
  font-size: 2rem;
}

.message {
  color: $red-advert;
}

p,
li {
  color: $white;
  font-size: 1.6rem;
  font-family: "Lora-Regular";
  text-align: justify;
  line-height: 3rem;
}

a {
  color: $light-blue;
  text-decoration: none;
  font-size: 1.6rem;
  font-family: "Lora-Regular";
  display: inline-block;
}

a:hover,
button:hover {
  @media #{$laptop} {
    cursor: pointer;
  }
}

body.no-scroll {
  overflow: hidden;
}

.bold {
  font-family: "Lora-Bold";
}

.banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 40rem;
}
